<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>

    <style>
      body {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 53, 121, 0.9643207624846813) 35%, rgba(124, 9, 130, 0.8354692218684349) 99%);
      }
    </style>
    <title>Document</title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem; margin:50px">
            <div class="card-body">
              <h5 class="card-title">Agregar Productos</h5>
              <form class="w-100" action="/productos" method="POST">
                <div class="mb-3">
                  <label class="form-label" for="title">Producto</label>
                  <input class="form-control" type='text' id="title" name="title" required />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="price">Precio</label>
                  <input class="form-control" type='number' id="price" name="price" required />
                </div>

                <div class="mb-3">
                  <label class="form-label">URL Imagen</label>
                  <input class="form-control" type='text' id="thumbnail"  name="thumbnail" />
                </div>
                <div class="mb-3">
                  <button class='btn btn-success' type='submit' >Agregar producto</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card " style=" margin:50px">
            <div class="card-header text-white bg-secondary">
              <h5 class="card-title text-center">Centro de mensajes</h5>
            </div>
            <div class="card-body">

              <form onsubmit="return addMessage(this)">
                <input type="text" id="username" placeholder="Acá tu email">
                <input type="text" id="texto" placeholder="Cuéntanos algo...">
                <input class="btn btn-dark" type="submit" value="Enviar">
                <div id="messages"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container bg-dark my-5 col-6">
      <h2 class="text-danger text-center">Lista de productos</h2>
      <div id="products">
        <table class='table bg-dark table-striped text-white'>
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Imagen</th>
            </tr>
          </thead>
          <tbody id="tbdy">
          </tbody>
        </table>
      </div>

    </div>
</body>

</html>